.navbar-brand img{
   border-radius: 5%;
}
.navbar{
  background: url('../../../assets/images/banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 .perfil{
      width:60px;
      height:60px;
      border-radius:160px;
      object-fit: cover;
      border:1px solid #666;
      user-select: none;
  }
  button:active{
    transform: scale(0.9);
  }